<html>
<head>
    <link type="text/css" rel="stylesheet" href="styles/style.css"/>
</head>
<body>

<header>
    <h1>This is the Header</h1>

    <nav>
        <ul>
            <li>
                <a href="#">
                    Nav 1
                </a>
            </li>
            <li>
                <a href="#">
                    Nav 2
                </a>
            </li>
            <li>
                <a href="#">
                    Nav 3
                </a>
            </li>
            <li>
                <a href="#">
                    Nav 4
                </a>
            </li>
        </ul>
    </nav>
</header>

<aside>
    <ul>
        <li>
            <a href="#">
                Item 1
            </a>
        </li>
        <li>
            <a href="#">
                Item 2
            </a>
        </li>
        <li>
            <a href="#">
                Item 3
            </a>
        </li>
        <li>
            <a href="#">
                Item 4
            </a>
        </li>
        <li>
            <a href="#">
                Item 5
            </a>
        </li>
        <li>
            <a href="#">
                Item 6
            </a>
        </li>
        <li>
            <a href="#">
                Item 7
            </a>
        </li>
    </ul>
</aside>

<article>
    <section>
        <h1>Header 1</h1>

        <p>
            Paragraph 1
        </p>

        <h3>Sub Header 1</h3>

        <p>
            Paragraph 2
        </p>

        <p>
            Paragraph 3
        </p>

        <p>
            Paragraph 4
        </p>

        <p>
            Paragraph 5
        </p>
    </section>
</article>
<footer>
    <h1>This is the Footer</h1>
</footer>
</body>
</html>