<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>MVC App</title>

    <link rel="stylesheet" src="/views/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
<nav>
    <h3>MVC App Example</h3>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
</nav>

<main>
    {{{body}}}
</main>
</body>
</html>